<mat-toolbar color="primary">
  <button mat-button routerLink="/">Home</button>
  <button mat-button routerLink="/"></button>
  <button mat-button routerLink="/"></button>
  <button mat-button routerLink="/liste-recettes">Liste des recettes</button>
  <button mat-button routerLink="/livre-recettes">Livre des recettes</button>
  <button mat-button routerLink="/ajout-modification-recette">Ajout et modification de recettes</button>
  <button mat-button routerLink="/recette-aleatoire">Recette aléatoire</button>
  <button mat-button routerLink="/about">About</button>
  <button mat-button routerLink="/test">Test</button>


</mat-toolbar>
<router-outlet></router-outlet>
