.add-recipe-form {
  padding: 16px;
}


.modify-recipe-form {
  margin: 5px auto;
  text-align: center;
}

.delete-recipe-form {
  width: 100%;
  margin: 5px auto;
  text-align: center;
}

.button-div {
  width: 40%;
  margin: 0 auto;
}

h3 {
  margin-top: 1%;
  font-weight: initial;
}

.liste-recettes-form-field {
  margin-left: 40%;
  width: 20%;
  float: left;
}

.mat-form-field {
  width: 100%;
}

.mat-select {
  width: 100%;
}

.categorie-form-field {
  width: 30%;
}


.add-recipe-informations {
  margin-left: 0px;
  float: left;
  width: 20%;
}

.add-recipe-ingredients {
  float: left;
  margin-left: 100px;
  min-width: 600px;
}

.add-recipe-etapes {
  float: left;
  margin-left: 100px;
  min-width: 300px;
}

.modify-recipe-informations {
  margin-left: 0px;
  float: left;
  width: 20%;
}

.modify-recipe-ingredients {
  float: left;
  margin-left: 100px;
  min-width: 600px;
}

.modify-recipe-etapes {
  float: left;
  margin-left: 100px;
  min-width: 300px;
}

.modify-recipe-div {
  padding: 16px;
  text-align: left;
  clear: none;
  margin-top: 4.5%;
}

.nb-personne-formfield {
  width: 15px;
  text-align: center;
}

.mat-focused .placeholder {
  color: transparent;
}


.nom-ingredient-form-field {
  width: 200px;
  float: left;
  display: inline-block;
}

.quantite-ingredient-form-field {
  width: 100px;
  margin-left: 50px;
  margin-right: 40px;
}


/* buttons */
.mat-raised-button.mat-ajout {
  background-color: darkseagreen;
  color: white;
}

.mat-raised-button.mat-modification {
  background-color: darkorange;
  color: white;
}

.mat-raised-button.mat-suppression {
  background-color: red;
  color: white;
}

.mat-raised-button.mat-ajout-ingredient {
  background-color: antiquewhite;
  color: black;
}

.mat-raised-button.mat-ajout-etape {
  background-color: antiquewhite;
  color: black;
}

.mat-raised-button.mat-add-recette {
  background-color: lightskyblue;
  color: black;
}

.mat-raised-button.mat-suppression-ingredient-etape {
  background-color: darkgrey;
  color: white;
}

.recipe-button {
  margin: 16px;
  padding: 5px 16px 5px 16px;
  font-size: 17px;
}

.ingredient-button {
  padding: 5px 16px 5px 16px;
  font-size: 17px;
}

.nom-etape-form-field {
  width: 400px;
  margin-right: 40px;
  display: inline-block;
}

.add-recette-button {

}

.center-cropped {
  height: 800px;
  background-position: center center;
  background-repeat: no-repeat;
  display: flex;
  border: solid;
  margin-right: 10px;
  margin-left: 10%;
  max-width: 40%;
}

.information-delete-div {
  padding: 0px 16px 16px 16px;
  min-width: 100px;
  max-width: 1500px;
  text-align: left;
  /*border: 1px solid black;*/
}

.modification-recette-button {
  margin-top: 52px;
  margin-left: 40px;
  float: left;
}


.suppression-recette-button {
  margin-left: 40px;
  float: left;
}

.recette-to-delete-infos {
  margin-left: 150px;
}


.ingredients-div {
  padding: 0px 16px 16px 16px;
  min-width: 10%;
  max-width: 40%;
  float:left;
  display: inline-block;
}

.etapes-div {
  min-width: 0px;
  max-width: 60%;
  float:left;
}

.ingredients-list {
  margin: 0 0 0 0;
  text-align: justify;
}
mat-divider {
   width: 100%;
 }

.etapes-list {
  margin: 0 0 10px 0;
  max-height: 50px;
  text-align: justify;
}
