<div class="button-div">
  <button (click)="showAddRecetteDiv()" class="recipe-button" color="ajout" mat-raised-button>
    Ajouter une nouvelle recette
  </button>
  <button (click)="showModifyRecetteDiv()" class="recipe-button" color="modification" mat-raised-button *ngIf="true">
    Modifier une recette
  </button>
  <button (click)="showDeleteRecetteDiv()" class="recipe-button" color="suppression" mat-raised-button>
    Supprimer une recette
  </button>

</div>
<div [hidden]=!addRecipeFormIsShown class="add-recipe-form">
  <div class="add-recipe-informations">
    <h1>
      Informations
    </h1>

    <form [formGroup]="informationsForm">
      <mat-form-field appearance="legacy">
        <mat-label>Nom de la recette</mat-label>
        <input formControlName="nom" matInput>
      </mat-form-field>
      <br>
      <mat-form-field appearance="legacy">
        <mat-label>Auteur</mat-label>
        <input formControlName="auteur" matInput>
      </mat-form-field>
      <br>


      <mat-form-field appearance="legacy" class="categorie-form-field">
        <mat-label>Catégorie</mat-label>
        <mat-select [(value)]="selectedCategory" formControlName="categorie">
          <mat-option *ngFor="let categorie of categories" [value]="categorie">{{categorie}}</mat-option>
        </mat-select>
      </mat-form-field>
      <br>

      <mat-form-field appearance="legacy">
        <mat-label>Nombre de personnes</mat-label>
        <input formControlName="nb_personnes" matInput>
      </mat-form-field>
      <br>

      <mat-form-field appearance="legacy">
        <mat-label>Description de la recette</mat-label>
        <textarea formControlName="description" matInput></textarea>
      </mat-form-field>
      <br>
      <mat-form-field appearance="legacy">
        <mat-label>Lien image</mat-label>
        <input formControlName="lien_image" matInput>
      </mat-form-field>
      <br>

      <mat-form-field appearance="legacy">
        <mat-label>Lien vidéo</mat-label>
        <input formControlName="lien_video" matInput>
      </mat-form-field>
      <br>
      <mat-form-field appearance="legacy">
        <mat-label>Temps de préparation (en minutes)</mat-label>
        <input formControlName="temps_preparation" matInput>
      </mat-form-field>
      <br>
      <mat-form-field appearance="legacy">
        <mat-label>Temps de cuisson (en minutes)</mat-label>
        <input formControlName="temps_cuisson" matInput>
      </mat-form-field>
      <br>

      <mat-form-field appearance="legacy">
        <mat-label>Note (sur 10)</mat-label>
        <input formControlName="note" matInput>
      </mat-form-field>
      <br>


      <button (click)="addRecette()" class="add-recette-button" color="add-recette" mat-raised-button type="button">
        Enregistrer la recette
      </button>
      <h3 *ngIf="isRecetteEnregistree">Recette enregistrée ! Consultez la liste.</h3>

    </form>


  </div>
  <div class="add-recipe-ingredients">
    <h1>
      Ingrédients
    </h1>


    <!--    <div class="nombre-personnes">
          Nombre de personnes :
          <mat-form-field [floatLabel]="'never'" appearance="legacy" class="nb-personne-formfield">
            <input class="nb-personne-input" matInput>
            <mat-placeholder class="placeholder">4</mat-placeholder>
          </mat-form-field>
        </div>-->


    <form [formGroup]="ingredientForm">
      <button (click)="addIngredient()" class="ingredient-button" color="ajout-ingredient" mat-raised-button>
        Ajouter un ingrédient
      </button>
      <div formArrayName="ingredients">
        <div *ngFor="let ingredient of ingredients.controls; let pointIndex=index" [formGroupName]="pointIndex">


          <mat-form-field [floatLabel]="'never'" appearance="legacy" class="nom-ingredient-form-field">
            <input formControlName="nom" matInput/>
            <mat-placeholder class="placeholder">Ingrédient</mat-placeholder>
          </mat-form-field>


          <mat-form-field [floatLabel]="'never'" appearance="legacy" class="quantite-ingredient-form-field">
            <input formControlName="quantite" matInput/>
            <mat-placeholder class="placeholder">Quantité</mat-placeholder>
          </mat-form-field>


          <button (click)="deleteIngredient(pointIndex)" color="suppression-ingredient-etape" mat-raised-button
                  type="button">Supprimer l'ingrédient
          </button>
        </div>
      </div>
    </form>

  </div>
  <div class="add-recipe-etapes">
    <h1>
      Etapes
    </h1>

    <form [formGroup]="etapeForm">
      <button (click)="addEtape()" class="ingredient-button" color="ajout-etape" mat-raised-button>
        Ajouter une étape
      </button>


      <div formArrayName="etapes">
        <div *ngFor="let etape of etapes.controls; let pointIndex=index" [formGroupName]="pointIndex">

          {{pointIndex + 1}}.
          <mat-form-field [floatLabel]="'never'" appearance="legacy" class="nom-etape-form-field">
            <input class="input-etape" formControlName="nom_etape" matInput/>
            <mat-placeholder class="placeholder">Étape</mat-placeholder>
          </mat-form-field>

          <button (click)="deleteEtape(pointIndex)" class="delete-step-button" color="suppression-ingredient-etape"
                  mat-raised-button
                  type="button">Supprimer
            l'étape
          </button>
        </div>
      </div>
    </form>


  </div>


</div>

<div [hidden]=!modifyRecipeFormIsShown class="modify-recipe-form">


  <div class="liste-recettes-form-field">
    <h1>
      Recette à modifier :
    </h1>
    <mat-form-field appearance="legacy">
      <mat-label>Recette</mat-label>
      <mat-select (selectionChange)='changeRecetteAffichee(selectedRecetteToModify)'
                  [(value)]="selectedRecetteToModify">
        <mat-option *ngFor="let recette of listeRecettes" [value]="recette">{{recette.nom}}</mat-option>
      </mat-select>
    </mat-form-field>

  </div>

  <div style="">
    <button (click)="modifierRecette()" class="modification-recette-button" color="modification-recette-etape"
            mat-raised-button type="button">Modifier la recette
    </button>
    <h3 style="float: left; margin-left: 22px; margin-top: 60px;" *ngIf="isRecetteModifiee">Recette modifiée !</h3>
  </div>
  <br>


  <div *ngIf="isSelectedRecette" class="modify-recipe-div">
    <div class="modify-recipe-informations">
      <h1>
        Informations
      </h1>

      <form [formGroup]="modifyInformationsForm">
        <mat-form-field appearance="legacy">
          <mat-label>Nom de la recette</mat-label>
          <input formControlName="nom" matInput [(ngModel)]="selectedRecetteToModify.nom">
        </mat-form-field>
        <br>
        <mat-form-field appearance="legacy">
          <mat-label>Auteur</mat-label>
          <input formControlName="auteur" matInput [(ngModel)]="selectedRecetteToModify.auteur">
        </mat-form-field>
        <br>


        <mat-form-field appearance="legacy" class="categorie-form-field">
          <mat-label>Catégorie</mat-label>
          <mat-select [(value)]="selectedCategory" formControlName="categorie"
                      [(ngModel)]="selectedRecetteToModify.categorie">
            <mat-option *ngFor="let categorie of categories" [value]="categorie">{{categorie}}</mat-option>
          </mat-select>
        </mat-form-field>
        <br>

        <mat-form-field appearance="legacy">
          <mat-label>Nombre de personnes</mat-label>
          <input formControlName="nb_personnes" matInput [(ngModel)]="selectedRecetteToModify.nb_personnes">
        </mat-form-field>
        <br>


        <mat-form-field appearance="legacy">
          <mat-label>Description de la recette</mat-label>
          <textarea formControlName="description" matInput [(ngModel)]="selectedRecetteToModify.description"></textarea>
        </mat-form-field>
        <br>
        <mat-form-field appearance="legacy">
          <mat-label>Lien image</mat-label>
          <input formControlName="lien_image" matInput [(ngModel)]="selectedRecetteToModify.lien_image">
        </mat-form-field>
        <br>

        <mat-form-field appearance="legacy">
          <mat-label>Lien vidéo</mat-label>
          <input formControlName="lien_video" matInput [(ngModel)]="selectedRecetteToModify.lien_video">
        </mat-form-field>
        <br>
        <mat-form-field appearance="legacy">
          <mat-label>Temps de préparation (en minutes)</mat-label>
          <input formControlName="temps_preparation" matInput [(ngModel)]="selectedRecetteToModify.temps_preparation">
        </mat-form-field>
        <br>
        <mat-form-field appearance="legacy">
          <mat-label>Temps de cuisson (en minutes)</mat-label>
          <input formControlName="temps_cuisson" matInput [(ngModel)]="selectedRecetteToModify.temps_cuisson">
        </mat-form-field>
        <br>

        <mat-form-field appearance="legacy">
          <mat-label>Note (sur 10)</mat-label>
          <input formControlName="note" matInput [(ngModel)]="selectedRecetteToModify.note">
        </mat-form-field>
      </form>
    </div>
    <div class="modify-recipe-ingredients">
      <h1>
        Ingrédients
      </h1>


      <!--    <div class="nombre-personnes">
            Nombre de personnes :
            <mat-form-field [floatLabel]="'never'" appearance="legacy" class="nb-personne-formfield">
              <input class="nb-personne-input" matInput>
              <mat-placeholder class="placeholder">4</mat-placeholder>
            </mat-form-field>
          </div>-->


      <form [formGroup]="modifyIngredientForm">
        <button (click)="addModifyIngredient()" class="ingredient-button" color="ajout-ingredient" mat-raised-button>
          Ajouter un ingrédient
        </button>
        <div formArrayName="modifyIngredients">
          <div *ngFor="let ingredient of modifyIngredients.controls; let pointIndex=index" [formGroupName]="pointIndex">


            <mat-form-field [floatLabel]="'never'" appearance="legacy" class="nom-ingredient-form-field">
              <input formControlName="nom" matInput/>
              <mat-placeholder class="placeholder">Ingrédient</mat-placeholder>
            </mat-form-field>


            <mat-form-field [floatLabel]="'never'" appearance="legacy" class="quantite-ingredient-form-field">
              <input formControlName="quantite" matInput/>
              <mat-placeholder class="placeholder">Quantité</mat-placeholder>
            </mat-form-field>


            <button (click)="deleteModifyIngredient(pointIndex)" color="suppression-ingredient-etape" mat-raised-button
                    type="button">Supprimer l'ingrédient
            </button>
          </div>
        </div>
      </form>

    </div>


    <div class="modify-recipe-etapes">
      <h1>
        Etapes
      </h1>

      <form [formGroup]="modifyEtapeForm">
        <button (click)="addModifyEtape()" class="ingredient-button" color="ajout-etape" mat-raised-button>
          Ajouter une étape
        </button>


        <div formArrayName="modifyEtapes">
          <div *ngFor="let etape of modifyEtapes.controls; let pointIndex=index" [formGroupName]="pointIndex">

            {{pointIndex + 1}}.
            <mat-form-field [floatLabel]="'never'" appearance="legacy" class="nom-etape-form-field">
              <input class="input-etape" formControlName="nom_etape" matInput/>
              <mat-placeholder class="placeholder">Étape</mat-placeholder>
            </mat-form-field>

            <button (click)="deleteModifyEtape(pointIndex)" class="delete-step-button"
                    color="suppression-ingredient-etape"
                    mat-raised-button
                    type="button">Supprimer
              l'étape
            </button>
          </div>
        </div>
      </form>


    </div>
  </div>


</div>

<div [hidden]=!deleteRecipeFormIsShown class="delete-recipe-form">
  <h1>
    Recette à supprimer :
  </h1>
  <div class="liste-recettes-form-field">
    <mat-form-field appearance="legacy">
      <mat-label>Recette</mat-label>
      <mat-select (selectionChange)='changeRecetteAffichee(selectedRecetteToDelete)'
                  [(value)]="selectedRecetteToDelete">
        <mat-option *ngFor="let recette of listeRecettes" [value]="recette">{{recette.nom}}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>


  <div>
    <button (click)="deleteRecette()" class="suppression-recette-button" color="suppression-recette-etape"
            mat-raised-button type="button">Supprimer la recette
    </button>
  </div>
  <h3 style="text-align: left; margin-top: 23px;" *ngIf="isRecetteSupprimee">Recette supprimée !</h3>

  <br>
  <br>

  <div *ngIf="selectedRecetteToDelete != null" class="recette-to-delete-infos">
    <br>
    <br>
    <div class="image-div">
      <img class="center-cropped" src={{selectedRecetteToDelete.lien_image}}>

    </div>
    <div class="information-delete-div">

      <h1>{{selectedRecetteToDelete.nom}}
      </h1>

      <h4> {{selectedRecetteToDelete.description}}</h4>

      <div class="ingredients-div">
        <mat-list>
          <div mat-subheader>Ingrédients</div>
          <mat-selection-list>
            <mat-list-option checkboxPosition="before"
                             *ngFor="let ingredient of selectedRecetteToDelete.liste_ingredients; let i = index"
                             class="ingredients-list">
              {{ingredient.quantite}} {{ingredient.nom}}
            </mat-list-option>
          </mat-selection-list>
        </mat-list>
      </div>
      <div class="etapes-div">
        <mat-list>
          <div mat-subheader>Étapes</div>
          <mat-list-item *ngFor="let etape of selectedRecetteToDelete.liste_etapes; let i = index;" class="etapes-list">
            {{i + 1}}. {{etape}}
          </mat-list-item>
        </mat-list>
      </div>

    </div>


  </div>
</div>

