.mat-column-categorie {
  flex: none;
  width: 10%;
}

.mat-subheader {
  font-size: 20px;
}

.mat-list-item {
  font-size: 18px;
  padding-right: 10px;

}



.mat-column-nom {
  flex: none;
  width: 70%;
}


table {
  width: 100%;
}

.mat-form-field {
  padding: 10px;
  font-size: 16px;
  width: 25%;
}


tr.example-detail-row {
  height: 0;
}

tr.example-element-row:not(.example-expanded-row):hover {
  background: whitesmoke;
}

tr.example-element-row:not(.example-expanded-row):active {
  background: #efefef;
}

.example-element-row td {
  border-bottom-width: 0;
}

.example-element-detail {
  overflow: hidden;
  display: flex;
}

.image-div {
  min-width: 10%;
  max-width: 600px;
  /*border: 1px solid black;*/
  height: auto;
}


.ingredients-div {
  padding: 0px 16px 16px 16px;
  /*
  min-width: 100px;
  max-width: 400px;
  */
  min-width: 10%;
  max-width: 40%;
}

.etapes-div {
  padding: 6px 16px 10px 16px;
  min-width: 0%;
  max-width: 40%;
}

.ingredients-list {
  text-align: justify;
}

.etapes-list {
  margin: 0 0 20px 0;
  max-height: 50px;
  text-align: justify;
}

.center-cropped {
  height: 800px;
  background-position: center center;
  background-repeat: no-repeat;
  border: 2px solid;
  max-width: 100%;
}

.mat-progress-spinner {
  margin: 200px auto;
  mode: indeterminate;
}
