<div class="main-div">

  <mat-card class="example-card">
    <mat-card-header>
      <div class="example-header-image" mat-card-avatar></div>
      <mat-card-title>Mich</mat-card-title>
      <mat-card-subtitle>Fondateur du site et débutant en cuisine</mat-card-subtitle>
    </mat-card-header>
    <img alt="Photo of Mich eating" mat-card-image src="https://i.imgur.com/n5Ppt3l.jpg">
    <mat-card-content>
      <p>
        Mich is a vietnamese / french software engineer who wishes to learn how to cook. He couldn't find a good
        application that would have suited his needs in order store the recipes he found throughout his adventure, so he decided
        that he would make his own.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>
</div>
