.example-card {
  max-width: 20%;
}

.example-header-image {
  background-image: url('https://i.imgur.com/dY3wBLY.jpg');
  background-size: cover;
}

.main-div{
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
}
